:root {
    --color-primario: #0c0e5e;
    --color-secundario: #4f95a7fd;
    --negro: #000000; 
    --blanco: #fafafa;
    --separacion-defecto: 8px;
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header *, footer * {
    
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem;
}
header{
    position: relative;
    top: 0rem;
    background-color:var(--color-primario)
}

footer {
    position: fixed;
    bottom: 0rem;
    background-color:rgb(82, 27, 63);
    font-size: 1.5rem;
    padding: 0rem;
}

body{
    background-position: 100%;
}



nav{
    background-color: darkseagreen;
    font-size: 1rem;
    padding: 0.5rem;
}

table,tr{
    width: 60%;
    font-size: 1.2rem;
    border: 3px solid black;
    border-collapse: collapse;
}

table{
    text-align: center;
}


.error {
    background-color: #ffaaaa;
    color: darkred;
    font-size: 1rem;
    font-weight: bold;
}