<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Cryptos alberto</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<header>
    <p>
        COMPRA, COMPRA MASS!!!
    </p>
</header>
<nav>
    {%block Enlaces%} {%endblock%} 
</nav>
<body>
{% block contenido_pagina%} {% endblock %} 
</body>
<footer>
    <p>&copy; 2021 - all rigths reserved </p>
</footer>
</html>