{% extends 'base.html' %}
{% block Enlaces %} <p> inicio | <a href="compra"> nueva compra </a> | <a href="status"> Inversion actual y monedero </a> </p> {%endblock%}

{%block contenido_pagina%} 
<p class="error"> {{error}} </p>
    {%if items|length == 0 %}
        <h1> no tienes transacciones pendientes, COMPRA, COMPRA COMPRA </h1>
    {%else%}
        <table class="tablas">
            <tr class="Cabeceras">
                <th>momento</th>
                <th>moneda_inicial</th>
                <th>cantidad_moneda_inicial</th>
                <th>moneda_destino</th>
                <th>cantidad_moneda_destino</th>
                <th>precio_unitario</th>
            </tr>
            {% for item in items%}
                <tr>
                    <td class="casillas">{{item.momento}}</td>
                    <td class="casillas">{{item.moneda_inicial}}</td>
                    <td class="casillas">{{item.moneda_inicial_Q}}</td>
                    <td class="casillas" >{{item.moneda_final}}</td>
                    <td class="casillas">{{item.moneda_final_Q}}</td>
                    <td class="casillas">{{item.precio_unitario}}</td>
                </tr>
            {%endfor%}
        </table>
    
    {%endif%}

{%endblock%} 