{% extends 'base.html' %}
{% block Enlaces %} <p> <a href="/"> inicio </a> | <a href="compra"> nueva compra </a> |Inversion actual y monedero </p> {%endblock%}

{%block contenido_pagina%}
<p class="mensajes error"> {{mensajes}}</p>
<h1> estado de tu inversion </h1>
<div>
    <tr>
        <td> total invertido: </td>
        <td> {{total}} </td>
    </tr>
    <tr>
        <td>Valor actual de tu inversion: </td>
        <td >{{valor_actual}} </td>
    </tr>
</div>
<h2> monedero</h2>
<table>
    <tr>
        <th> Cryptomoneda</th>
        <th> Cantidad disponible</th>
    </tr>
    {%for crypto in cryptos%}
        <tr> 
            <td>{{crypto.cryptomoneda}}</td>
            <td>{{crypto.cantidad}}</td>
        </tr>
    {%endfor%}
</table>
{%endblock%}