{% extends 'base.html' %}
{% block Enlaces %} <p> <a href="/"> inicio </a> | <a href="compra"> nueva compra </a> |Inversion actual y monedero </p> {%endblock%}

{%block contenido_pagina%}
<p class="error"> {{mensajes}}</p>

<div class="status1">
    <h1 class= statush> estado de tu inversion </h1>
    <div class="inversion">
        <p> total invertido:  {{total}} € <p>
        <p> Valor actual de tu inversion: {{valor_actual}} € <p>
    <div>
</div>
<div class="status2">
    <h2 class= statush> monedero</h2>
    <table class="tabla2">
        <tr>
            <th> Cryptomoneda</th>
            <th> Cantidad disponible</th>
        </tr>
        {%for crypto in cryptos%}
            <tr> 
                <td>{{crypto.cryptomoneda}}</td>
                <td>{{crypto.cantidad}}</td>
            </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}